html {
	scroll-behavior: smooth;
}

body { 
	margin: 0px; 
	padding: 0px; 
	font-family: 'Lexend', sans-serif;
}




#blackline {

	position: fixed;
	width: 1920px;
	height: 90px;
	left: 0px;
	top: 0px;
	background:#000000;
}

/* Only edit this if you know what you are doing! */
img { 
	position: absolute; 
}


/* Only edit this if you know what you are doing! */
div { 
	position: absolute; 
}

section {
	display: grid;
    justify-content: center;
    align-items: start;
}

.content-container { 
	display: flex; 
	flex-direction: column;
	position: relative; 
	width: 1920px; 
	
}


.hidden {
	opacity: 0;
	transition: opacity 0.5s;
  }

.content {
	margin-bottom: 100vh; /* Add spacing between elements */
  }

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-color: rgb(59, 59, 56);
	background-size: cover;

}

#group_2 {
	position: fixed;
	z-index: 999;
	width: 544.62px;
	height: 37px;
	top: 27px;	
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color:#ffffff;
	
}

#group_2 div:hover {
filter: brightness(0.7);
 }


 #Home {
	left: 1359px;
	overflow: hidden;
	font-weight: bold;
	text-align: left;
	
}

#Home:hover {
	text-decoration: underline;
}

 #about_me {
	left: 1483px;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
}

#about_me:hover {
	text-decoration: underline;
}

#skills {
	left: 1663px;
	overflow: hidden;
	
	
}
#skills:hover {
	text-decoration: underline;
}

#project {
	left: 1775px;
	overflow: hidden;
	text-align: left;
	
}

#project:hover {
	text-decoration: underline;
	
}
	
 #group_3 {
	position: fixed;
	height: 66px;
	width: 75px;
	left: 720px;
	top: 10px;
	
	

}

#git {
	left: 119px;
	border-radius: 0px;
	

}

  
#facebook {	
  	left: 219px;
	border-radius: 0px;
}

  
  #linkedin {
	left: 319px;
	border-radius: 0px;
}

 


#intro {
	top: 160px;	
	left: 104px;
	width: 1065px;
	height: 570px;
	font-size: 32px;
	color:#ffffff;
	
}

#porfolio {
	left: 0px;
	width: 403.5px;
	height: 47.5px;
	font-size: 27px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}


#hi {
	top: 23px;
	left: 0px;
	width: 1134px;
	height: 192px;
	overflow: hidden;
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}


#i_am{
	top: 180px;
	left: 0px;
	width: 1020px;
	height: 345px;
	overflow: hidden;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}

#group_4 {
	top: 540px;
}
  
#rectangle1button {
	width: 235px;
	height: 78px;
	border-radius: 10px;
	background:rgba(0,0,0,1);
	cursor: pointer;
  }

#download_cv {
	top: 21px;
	left: 21px;
	width: 207px;
	height: 58px;
	overflow: hidden;
	font-size: 30px;
	font-weight: bold;
	color:#FFFFFF;
	cursor: pointer;
  }

#picture {
	top: 10px;
	left: 1200px;
	width: 531px;
	height: 616px;
}


#About {
	width: 345px;
	height: 79px;
	left: 58px;
	top: 1106px;
	font-weight: 600;
	font-size: 64px;
	line-height: 80px;
	color:#ffffff;
}

#Educ {
	position: absolute;
	width: 536px;
	height: 101px;
	left: 121px;
	top: 1238px;
	font-size: 74px;
	color:#ffffff;

}

#CompE {
	position: absolute;
	width: 670px;
	height: 59px;
	left: 136px;
	top: 1320px;
	font-size: 40px;
	color:#ffffff;
}
	


#hello {
	position: absolute;
	width: 824px;
	height: 254px;
	left: 172px;
	top: 1406px;
	font-size: 30px;
	color:#ffffff;
}
#school {
	position: absolute;
	width: 175px;
	height: 194px;
	left: 760px;
	top: 1200px;
}
#guradance {
	position: absolute;
	width: 230px;
	height: 268px;
	left: 1622px;
	top: 1177px;
}

#Hobby {
	position: absolute;
	left: 1457px;
	top: 1450px;
	color: #ffffff;
	font-size: 35px;
	white-space: nowrap;
  }

#gamin {
	position: absolute;
	width: 127px;
	height: 127px;
	left: 1297px;
	top: 1280px;
	transform: rotate(-35.1deg);
}

#joy {
	position: absolute;
	width: 127px;
	height: 127px;
	left: 1617px;
	top: 1717px;
	transform: rotate(31.93deg);
}

#guraspin {
	width: 300px;
	height: 238px;
	left: 1218px;
	top: 1713px;
}

  ul {
	list-style: disc;
	margin: 0;
	padding: 0;
  }
  
li {
	position: relative;
	left: 1457px;
	top: 1490px;
	color: #ffffff;
	font-size: 30px;
	display: block; /* Make the li elements display horizontally */
	margin-right: 10px;
  }

#Skill {
	width: 345px;
	height: 79px;
	left: 74px;
	top: 2187px;
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 80px;
	color: #ffffff;
}

#Lang {
	position: absolute;
	width: 510px;
	height: 44px;
	left: 97px;
	top: 2299px;
	color: #ffffff;
	font-size: 35px;

}



#group_6 img {
	display: flex;
	width: 90px;
	height: 90px;

}

#group_6 {
	position: relative;
	display: inline-block;

}


#ico_1 {
	left: 97px;
	top: 2354px;
}

#ico_2 {
	left: 228px;
	top: 2354px;
}

#ico_3 {
	left: 359px;
	top: 2354px;
}



#ico_4 {
	left: 490px;
	top: 2354px;
}

#ico_5 {
	left: 621px;
	top: 2354px;
}

#ico_6 {
	left: 752px;
	top: 2354px;
}

#Operating {
	width: 325px;
	height: 44px;
	left: 97px;
	top: 2488px;
	color: #ffffff;
	font-size: 35px;

}

#ope1 {
	left: 97px;
	top: 2543px;
}

#ope2 {
	left: 228px;
	top: 2543px;
}

#Data {
	left: 97px;
	top: 2677px;
	color: #ffffff;
	font-size: 35px;
}

#db1 {
	max-width: 176px;
	left: 97px;
	top: 2732px;
}



#group_7 {
	position: absolute;
	color: #ffffff;
	width: 1195px;
	height: 157px;
	display: flex;
    flex-direction: column;
	font-size: 20px;
}



#Pro {
	width: 308px;
	height: 80px;
	left: 74px;
	top: 3251px;
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 80px;
	color: #ffffff;

}

#big1 {
	position: absolute;
	left: 129px;
	top: 3304px;
	font-size: 15px;
	line-height: 40px;
}


#Login_Form {
	text-align: left;
	left: 129px;
	top: 3364px;
}





#big2 {
	position: relative;
	align-items: center;
	left: 1529px;
	top: 3570px;
	font-size: 15px;
	line-height: 40px;

}

#register_form {
	text-align: right;
	width: 1290px;
	height: 175px;
	left: 525px;
	top: 3630px;

}

#big3 {
	position: absolute;
	left: 129px;
	top: 3850px;
	font-size: 15px;
	line-height: 40px;
}

#Web_App {
	text-align: left;
	width: 1195px;
	height: 157px;
	left: 129px;
	top: 3910px;
}

video {
	position: absolute;
	width: 445px;
}

.video1 {
	height: 273px;
	left: 1372px;
	top: 3290px;
}

.video2 {
	
	height: 273px;
	left: 105px;
	top: 3590px;
}

.video3 {
	height: 273px;
	left: 1372px;
	top: 3760px;
}



